@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Radio Canada Big", sans-serif;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid transparent;
}

.sidevar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #fa8b4b;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidevar.active~.main-content {
    left: 250px;
}

.sidevar.active {
    width: 250px;
}

.sidevar #btn {
    position: absolute;
    color: #000000;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translate(-50%);
    cursor: pointer;
    font-size: 1.5rem;
    /* Aumenta el tamaño de los íconos */
}

.sidevar.active #btn {
    left: 90%;
}

/* .sidevar .top .logo {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
} */

.sidevar .top .logo img {
    height: auto;
    width: 120px;
    padding-top: 2px;
    pointer-events: none;
    opacity: 0;

}

.sidevar.active .top .logo img {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #000000;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidevar p {
    opacity: 0;
}

.sidevar.active p {
    opacity: 1;
}

.sidevar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidevar ul li a {
    color: #000000;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidevar ul li a:hover {
    background-color: #ffff;
    color: #000000;
    transition: background-color 0.3s ease;
}

.sidevar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 1.5rem;
    /* Aumenta el tamaño de los íconos */
}

.sidevar .nav-item {
    opacity: 0;
}

.sidevar.active .nav-item {
    opacity: 1;
}

.sidevar ul li .tooltip {
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4em 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    background-color: #fff;
    transition: opacity 0.3s ease;
}

/* 
.sidevar ul li:hover .tooltip {
    opacity: 1;
} */

.sidevar.active ul li .tooltip {
    display: none;
}

.sidevar ul li a .curso,
.sidevar ul li a .curso i {
    background-color: white;
}

.sidevar.active ul li .curso,
.sidevar.active ul li .curso i {
    background-color: white;
}

.main-content {
    position: absolute;
    background-color: white;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    padding: 1rem;
}

.main-content .container h1 {
    margin-left: 40px;
}

.main-content .formulario {
    flex: 1;
    /* Permite que el formulario ocupe todo el espacio restante */
    width: 700px;
    font-size: 25px;
}

.main-content .formulario #cursoForm {
    display: flex;
    margin: 40px 40px 0;
}

.main-content .formulario .curso {
    padding-right: 40px
}

.main-content .formulario #cursoForm #curso {
    padding: 10px;
    font-size: 15px;
    margin: 0 10px 0 0px;
    display: flex;
    width: 400px;
}

.main-content .formulario #cursoForm #seccion {
    padding: 10px;
    font-size: 15px;
    margin: 0 10px 0 0px;
    display: flex;
    width: 195px;
}

.main-content .formulario #seleccion {
    background-color: #d3d3d34d;
    /* Color de fondo gris */
    
    padding: 10px;
    /* Espacio interno dentro de la caja */
    border-radius: 2px;
    /* Bordes redondeados (opcional) */
    width: 92%;
    /* Ajusta el ancho según tus necesidades */
    margin: 20px 0 0 40px;
    /* Centra el div horizontalmente */
    font-size: 15px;
}

.main-content .footer {
    display: flex;
    justify-content: flex-start;
    /* Alinea los elementos a la izquierda */
    align-items: center;
    padding: 10px 0;
    /* Espaciado interno del footer */
    margin: 20px 40px 50px;
    position: fixed;
    /* Fija el footer en una posición */
    bottom: 0;
    /* Alinea el footer a la base de la página */
    width: 100%;
    /* Asegura que el footer cubra todo el ancho de la página */
    background-color: #fff;
    /* Fondo del footer para diferenciarlo del contenido */
}

.main-content .footer .notas {
    margin-left: 0;
    /* Elimina cualquier margen izquierdo */
    margin-right: 10px;
    /* Ajusta el margen derecho si es necesario */
}

.main-content .footer .asistencia {
    margin: 0 10px;
    /* Ajusta el margen según sea necesario */
}

.main-content .footer button {
    font-size: 20px;
    /* Ajusta el tamaño del texto del botón */
    padding: 10px 20px;
    /* Ajusta el espaciado interno del botón */
    background-color: #f8ab7c;
    /* Color de fondo del botón */
    color: white;
    /* Color del texto del botón */
    border: none;
    /* Sin borde */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease;
    /* Transición suave para el cambio de fondo */
}

.main-content .footer button:hover {
    background-color: #fa8b4b;
    /* Color de fondo al pasar el ratón */
}

#docente {
    width: 40%;
    float: right;
    margin-top: 150px;
}